:root {
  --color-primary: rgb(108, 99, 255);
}

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px 1100/16
$bp-medium: 56.75em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 25em; // 400px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  // @media only screen and (max-width: $bp-large) {
  //   font-size: 50%; // 8/16 = 50%
  // }
}

body {
  // display: flex;
  // flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3ccircle r='93.335' cx='69.78' cy='-38.51' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='288.63' cy='460.44' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='667.18' cy='672.95' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='47.395' cx='531.23' cy='467.35' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='111.56' cx='1368.05' cy='90.71' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='174.595' cx='503.85' cy='428.78' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='136.225' cx='1094.99' cy='439.42' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='153.825' cx='1049.62' cy='372.94' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='88.04' cx='54.06' cy='422.99' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='57.16' cx='520.33' cy='35.86' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='81.5' cx='1244' cy='480.04' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='178.69' cx='941.64' cy='506.69' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='63.72' cx='1264.15' cy='363.27' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='174.15' cx='456.53' cy='135.81' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='69.295' cx='165.46' cy='78.15' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='115.435' cx='585.67' cy='405.13' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='116' cx='25.55' cy='81.18' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='179.065' cx='294.3' cy='346.55' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='81.36' cx='673.96' cy='267.03' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='164.725' cx='1090.18' cy='189.56' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='157.435' cx='354.6' cy='114.8' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='68.425' cx='141.63' cy='6.26' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='90.82' cx='680.48' cy='390.08' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='177.305' cx='518.7' cy='76.85' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='186.625' cx='393.48' cy='381.85' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='184.53' cx='1350.03' cy='329.35' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='97.47' cx='937.52' cy='277.91' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='121.215' cx='51.26' cy='36.35' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='58.195' cx='434.12' cy='210.36' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='177.885' cx='904.36' cy='221.35' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='73.735' cx='302.34' cy='415.45' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='168.5' cx='814.41' cy='234.24' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='57.485' cx='1101.09' cy='543.89' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.845' cx='91.07' cy='477.45' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='186.655' cx='1418.92' cy='448.08' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='94.755' cx='982.83' cy='253.02' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='163.685' cx='1426.27' cy='273.16' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='171.885' cx='282.58' cy='94.05' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='60.11' cx='41.81' cy='351.46' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3ccircle r='114.94' cx='516.91' cy='119.97' stroke='%236c63ff' stroke-opacity='0.5' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1001'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

section {
  margin: 50px auto;
  height: 100vh;
}

h1 {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 2.8rem;
}

.container {
  max-width: 120rem;
  width: 100%;
  padding: 0 1.5rem;
  height: 100vh;
  margin: 0 auto;
}

.grid {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.8rem;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 11px;
  background-color: #fff;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
  }
}

.form-result {
  overflow: hidden;
  padding: 2rem;
  background-color: white;
}

.form-image {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
}

#results {
  margin-top: 35px;
}

.res {
  font-size: 1rem;
}

.res p {
  margin-bottom: 1rem;
}

.highlight {
  color: rgb(108, 99, 255);
  font-weight: bold;
}
